[submodule "external/XRT_devices"]
	path = external/XRT_devices
	url = https://github.com/Euler-Rodrigues-Lab/XRT_devices.git
[submodule "external/geo_kin_core"]
	path = external/geo_kin_core
	url = https://github.com/Euler-Rodrigues-Lab/geo_kin_core.git
[submodule "external/openarm_can"]
	path = external/openarm_can
	url = git@github.com:enactic/openarm_can.git
